# Database
DATABASE_URL=sqlite:///./data/shop.db

# Application settings
SECRET_KEY=your-secret-key-here
SESSION_MAX_AGE=86400

#GitLab OAuth settings OR can use github.com!
GITLAB_CLIENT_ID=your_gitlab_client_id
GITLAB_CLIENT_SECRET=your_gitlab_client_secret
GITLAB_DOMAIN=https://sc-gitlab.ufv.ca

# Email (Gmail)
MAIL_USERNAME=your_email_before_@_sign
MAIL_PASSWORD=SECRET_generate_goggle_app_password
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_FROM_EMAIL=your_email_here
MAIL_FROM_NAME=your_name_here





